.uni-nav-bar.logo{
	width: 42px;
	height: 42px;
	background-size: contain;
	background-repeat: no-repeat;
}
.ui-main-menus .sidebar-shortcuts-content{
	position: relative;
}

.ui-main-menus .sidebar-shortcuts-large,
.ui-main-menus .sidebar-shortcuts-medium,
.ui-main-menus .sidebar-shortcuts-content .collapse-icon{
	display: inline-block;
}

.ui-main-menus .sidebar-shortcuts-content .collapse-icon{
	padding: 5px 8px;
	vertical-align: middle;
	border: 1px solid;
	background: #42ca6e;
	color: #fff;
	font-weight: bold;
	border-radius: 14px;
	border-color: #23b151;
	text-align: center;
	float:right;
	margin-top: 4px;
}
.ui-main-menus .sidebar-shortcuts-content > .collapse-icon.right{
	position: absolute;
}

.ui-main-menus .sidebar-shortcuts-large .btn,
.ui-main-menus .sidebar-shortcuts-medium .btn,
.ui-main-menus .sidebar-shortcuts-mini .btn{
	margin-left:1px;
	margin-top:1px;
	font-weight: bold;
	padding:0 4px;
}
.ui-main-menus .sidebar-shortcuts-medium{
	max-width: 220px;
}
.ui-main-menus .sidebar-shortcuts-mini .btn{
	width: 18px;
	height: 18px;
}

.ui-sidebar.sidebar {
	width: 220px;
}

.ui-sidebar.sidebar.menu-min,.sidebar.menu-min.compact,.sidebar.menu-min.navbar-collapse {
	width: 43px
}

.uni-sidebar-menu.sidebar{
	width: 100%;
}

.uni-sidebar-menu.sidebar .sidebar-shortcuts-large>.btn {
	width: auto;
}
.uni-sidebar-menu.sidebar.menu-min:hover .sidebar-shortcuts-large > .btn{
	display: block;
	width: 100%;
}

.uni-sidebar-menu.sidebar .sidebar-shortcuts {
	text-align: left;
	min-height: 35px;
	background: #438EB9;
	border-width: 1px 0px 2px 0px;
	border-style: solid;
	border-color: #8ac4e4;
}	
.uni-sidebar-menu.sidebar.menu-min .sidebar-shortcuts.hover-show .sidebar-shortcuts-large,.sidebar.menu-min .sidebar-shortcuts:hover .sidebar-shortcuts-medium,
.uni-sidebar-menu.sidebar.menu-min .sidebar-shortcuts.hover-show .sidebar-shortcuts-large,.sidebar.menu-min .sidebar-shortcuts:hover .sidebar-shortcuts-large{
	width: auto;
	display: block!important;
	background: #438EB9;
}

.uni-sidebar-menu.sidebar.menu-min .sidebar-shortcuts-medium {
	display: none;
	position: absolute;
	top: 0;
	left: 42px;
	width: 182px;
	padding: 0 2px 3px;
	border: 1px solid;
	border-top-width: 0
}
.uni-sidebar-menu.sidebar.menu-min .sidebar-shortcuts-mini{
	border-style: solid;
	border-width: 1px;
	border-color: #E5E5E5;
	padding: 0px;
	width: 43px;
	text-align: center
}

.uni-sidebar-menu{
	float: none;
}
.uni-sidebar-menu.sidebar.menu-medium{
	width:220px;
}
.uni-sidebar-menu.sidebar.menu-min,
.uni-sidebar-menu.sidebar.menu-medium.menu-min{
	width: 43px;
}
.uni-sidebar-menu.sidebar.menu-min:hover{
	width: 0px;
}

.sidebar+.main-content {
	margin-left: 220px;
}

.modules-content{
	position: relative;
}

.main-content.top-content{
	position: absolute;
	top:0;
}

.sidebar .ui-main-menus  .sidebar-shortcuts-large{
	line-height: initial;
}
/*.sidebar-shortcuts-large{
	margin-left: 0px;
	width: 98%;
}
.uni-sidebar-menu.sidebar .sidebar-shortcuts-large>li.btn{
	display: table-cell;
	width: 1%;
}*/

@media only screen and (max-width: 479px) {
	.navbar:not(.navbar-collapse) .navbar-header.pull-right{
		float: right!important;
	}
	.navbar:not(.navbar-collapse) .navbar-header.pull-left{
		float: left!important;
	}
}

.btn-success.active,.btn-success.active:focus,.btn-success.active:hover,.btn-success.focus.active,.open>.btn-success.dropdown-toggle.active {
	background-color: #75aa6c!important;
	border-color: #75aa6c!important;
}